.text-right {
    text-align: right;
}

.page-section {
    height: calc(100vh - 168px);
}

.loading-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}